:root {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(0, 0, 0);
    --cor3: #bb9901;
    --cor4: rgb(59, 59, 59);
    --cor5: rgb(0, 99, 124);
    --cor6: rgb(14, 137, 168);
}

body {
    overflow-y: hidden;
}

.body-ContainerEscura{
    background-color:  var(--cor2);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* background-image:url('../assets/img/espaco3.jpg') ; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 1s ease;
}

.body-Container{
    width: 100vw;
    height: 100vh;
    transition: background-color 1s ease;    
}

.headerDiv {
    display: flex;
}

.sectionNome {
    height: 300px;
    margin-left: 170px;
}

.divHeader {
    display: flex;
}

.divBody {
width: 100vh;
height: calc(100vh - 100px);
display: flex;
justify-content: end;
align-items: center;
gap: 20px;

}

.fabianoImg {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; 
}
.fabianoActive {
    width: 220px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; 
    display: none;
}
.luaActive {
    width: 270px;
    height: 280;
    border-radius: 0%;
    margin-right: 20px; 
}
.lua{
    width:220px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; 
    display: none;
}

.perfil{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: -30px;
}
.perfilAtivo{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hello {
    color: var(--cor4);
    font-size: 18px;
}
.helloActive {
    color: var(--cor3);
    font-size: 18px;
}
.nome {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    white-space: nowrap;color:var(--cor3);
}
.nomeActive {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    white-space: nowrap;color:var(--cor1);
}

.subtitulo {
    margin-top: 5px;
    font-size: 25px;
    color: var(--cor4);
}
.subtituloActive {
    margin-top: 5px;
    font-size: 25px;
    color:var(--cor3);
}

.CV {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    border-style: none;
     cursor: pointer;
        background-color: var(--cor3);
        color: white;
}
.CV:hover {
    margin-top: 30px;
    width: 120px;
    height: 35px;

}

li {
    list-style: none;
}

.linkedin,
.git,
.whatsap {
    width: 20px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.midiaSocial {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

@keyframes move {
    0% {
        top: 120vh;
        left: -400px;
    }

    100% {
        top: -40vh;
        left: 1300px;
    }
}

.naveActive{
    position: absolute;
    width:300px;
    height: auto;
    animation: move;animation-duration: 15s;
    top: 120vh;
    
}
.nave{
    position: absolute;
    display: none;
}

.passarosActive1{
    position: absolute;
    width:500px;
    height: auto;
    top: 20vh;
    /* background-color: blue; */
}
.passaros1{
    position: absolute;
    width:300px;
    height: auto;
    top: 50vh;
    left: 20px;
  
}

.passarosActive2{
    position: absolute;
    width:500px;
    height: auto;
    left: 400px;
    top: 20vh;
    /* background-color: red; */
   
}

.passarosActive3{
    position: absolute;
    width:500px;
    height: auto;
    top: 20vh;
    /* background-color:blueviolet; */
    left: 1000px;
}

.passaros {
    position: absolute;
    display: none;
}

.arvoreActive {
    position: absolute;
        width: 500px;
        height: auto;
        top: 32vh;
        left: 630px;
}

.arvore {
    position: absolute;
        width: 500px;
        height: auto;
        top: 32vh;
        left: 630px;
        display: none;
}
.arvoreSecaActive {
    position: absolute;
        width: 500px;
        height: auto;
        top: 41vh;
        left: 630px;
}

.arvoreSeca {
    position: absolute;
        width: 500px;
        height: auto;
        top: 32vh;
        left: 630px;
        display: none;
}