:root {
    --cor1: rgb(255, 255, 255);
    --cor2: #001a33;
    --cor3: rgb(148, 121, 0);
    --cor4: rgb(59, 59, 59);
    --cor5: rgb(0, 99, 124);
    --cor6: #91d1eb;
    --cor7: radial-gradient(ellipse at center, #fff7db 0%, #f9df9c 50%, #ffc066 100%);
    --cor8:black;
}

body {
  margin: 0;
  padding: 0;
  background-color:  #87ceeb;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor8);
  font-family: Arial, sans-serif;
   transition: background-color 1s ease;
}

.body-ContainerEscura{
    background-color: var(--cor2);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 1s ease;
}

.body-Container{
    width: 100vw;
    height: 100vh;
    background: var(--cor6);
    transition: background-color 1s ease;
}

.headerDiv {
    display: flex;
}

.sectionNome {
    height: 300px;
    margin-left: 170px;
}

.divHeader {
    display: flex;
}

.divBody {
width: 100vh;
height: calc(100vh - 100px);
display: flex;
justify-content: end;
align-items: center;
gap: 20px;

}

.fabianoImg {
    width: 170px;
    height: auto;
    border-radius: 50%;
    margin-top: -170px;
    margin-right: 0px;
    background: var(--cor7);
   
}

.fabianoActive,.lua  {
    display: none;
}

.luaActive {
    width: 270px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 70px;
}

.perfil {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: -30px;
    margin-top: -120px;

}
.perfilAtivo{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hello {
    color: var(--cor8);
    font-size: 18px;
}
.helloActive {
    color: var(--cor3);
    font-size: 18px;
}
.nome {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;color:var(--cor2);
    white-space: nowrap;
    color: var(--cor8);
}
.nomeActive {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    white-space: nowrap;color:var(--cor1);
}

.subtitulo {
    margin-top: 5px;
    font-size: 25px;
    color: var(--cor2);
}
.subtituloActive {
    margin-top: 5px;
    font-size: 25px;
    color:var(--cor3);
}

.CV {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    border-style: none;
     cursor: pointer;
        background-color: var(--cor3);
        color: white;
}
.CV:hover {
    margin-top: 30px;
    width: 120px;
    height: 35px;

}

li {
    list-style: none;
}

.linkedin,
.git,
.whatsap {
    width: 20px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.midiaSocial {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

@keyframes move {
    0% {
        top: 120vh;
        left: -400px;
    }

    100% {
        top: -40vh;
        left: 1300px;
    }
}

.naveActive{
    position: absolute;
    width:300px;
    height: auto;
    animation: move;animation-duration: 15s;
    top: 120vh;
    
}
.nave{
    position: absolute;
    display: none;
}

.passarosActive1{
    position: absolute;
    width:500px;
    height: auto;
    top: 20vh;
    /* background-color: blue; */
}
.passaros1{
    position: absolute;
    width:300px;
    height: auto;
    top: 50vh;
    left: 20px;
  
}

.passarosActive2{
    position: absolute;
    width:500px;
    height: auto;
    left: 400px;
    top: 20vh;
    /* background-color: red; */
   
}

.passarosActive3{
    position: absolute;
    width:500px;
    height: auto;
    top: 20vh;
    /* background-color:blueviolet; */
    left: 1000px;
}

.passaros {
    position: absolute;
    display: none;
}

.arvoreActive {
border-radius: 50%;
position: absolute;
width: 350px;
height: auto;
top: 53vh;
left: 150px;
}

.arvore {
        display: none;
}
.arvoreNoiteActive {
border-radius: 50%;
position: absolute;
width: 350px;
height: auto;
top: 53vh;
left: 150px;
}

.arvoreNoite {
    display: none;
}

.divGrama{
    background-image: url('../assets/img/grama.png');
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background-repeat: repeat;
}