
.menu-navBar {
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box;
}
.menu-navBarEscuro {
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box; 
}


.menu-mobile{
   display: flex;
   align-items: center;
   box-sizing: border-box;
   height: 100px;
}

.menu-navBar{
   display: flex;
   align-items: center;
   list-style: none;
   gap:20px;
   justify-content: flex-start;
   padding-left: 50px;
}

.logo{
   position: absolute;
   left:-130px;
}

.li-Menu{
padding: 5px;
font-size: 16px;
text-wrap: nowrap;
margin-left: 20px;
color: var(--cor7);
}

.li-MenuNoite{
padding: 5px;
font-size: 16px;
text-wrap: nowrap;
margin-left: 20px;
color: var(--cor9);
}

.li-Menu:hover{
color: var(--cor3);
border-bottom: 1px solid rgb(48, 48, 48);
color: rgb(48, 48, 48);
}
.li-MenuNoite:hover{
border-bottom: 1px solid var(--cor3);
color: var(--cor3);
}

.contact{
   background-color: var(--cor1);
   color: var(--cor7);
   border: none;
   cursor: pointer;
   width: 100px;
   padding: 2px;
   color: var(--cor3);
}

.menu-contacts{
text-align: center;
margin-top: 70px;
top:-30px;
left: 375px;
list-style: none;
position: absolute;
background-color: rgb(255, 255, 255);
overflow: hidden;
height: 21px;
transition: .3s linear;
}

.menu-contactsActive{
text-align: center;
margin-top: 70px;
top:-30px;
left: 375px;
list-style: none;
position: absolute;
background-color: rgb(255, 255, 255);
overflow: hidden;
height: 120px;
transition: .3s linear;
}
.textoMenu{
   color: var(--cor3);
   font-size: 14px;
   margin-top:6px ;
}

.linkedin,
.git,
.whatsap {
   margin-top:5px ;
   margin-right:3px ;
   width: 20px;
   cursor: pointer;
  
}
.contact:hover{
   color: var(--cor3);
   border: none;
}

.Link {
text-decoration: none;
}
a{
   text-decoration: none;
   color: var(--cor7);
   text-align: center;
   align-items: center;
   display: flex;
   margin-left: 5px;
}
.claro{
   width: 15px;
   height: auto;
   cursor: pointer;
   position: fixed;
   left: 650px;
   top: 44px;
}


.active{
   display: none;
}
.my-letter{
   background: var(--cor9);
   color: var(--cor1);
   font-weight: 700;
   padding: 1px;
   padding-left: 3px;
   padding-right: 3px;
   border-radius: 2px;
   margin: 2px;
   font-family: Arial, sans-serif;
   font-size: 13px;
}
.my-letterOutdoor{
   background: var(--cor9);
    font-size: 13px;
      color: var(--cor1);
      font-weight: 700;
      padding: 1px;
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 2px;
      margin: 2px;
      font-family: Arial, sans-serif;
}

.liOutdoor{
   margin-left: -40px;
   text-align: center;
}

.sombra{
   width: 128px;
   margin-top: -15px;
   margin-left: 60px;
}