

.menu-navBar {
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box;
}
.menu-navBarEscuro {
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box; 
}
.menu-navBarEscuro {
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box;
}

.menu-mobile{
   display: flex;
   align-items: center;
   box-sizing: border-box;
   height: 100px;

}

.menu-navBar{
   display: flex;
   align-items: center;
   list-style: none;
   gap:20px;
   justify-content: flex-start;
   padding: 40px;
   
}

.logo{
   height: 100px;
   display: flex;
   padding-right: 230px;
   padding-left: 70px;
   align-items: center;
   font-size: 20px;
   font-weight: normal;
   width: 300px;
   color:var(--cor3); 
   font-family: 'Raleway', sans-serif;
   font-weight: 900;
   white-space: nowrap;
}A

.li-Menu{
padding: 5px;
font-size: 16px;
text-wrap: nowrap;
margin-left: 20px;
color: var(--cor3);
}

.li-Menu:hover{
color: rgb(255, 255, 255);
background-color: var(--cor3);
transition: color .02s;
}

#contact{
   background-color: var(--cor3);
   color: white;
}

.Link {
text-decoration: none;
}

.claro{
   width: 15px;
   height: auto;
   cursor: pointer;
}
#escuro{
margin-left: -20px;
}

.active{
   width: 20px;
   height: auto;
   cursor: pointer;
   display: none;
}



