:root {
   --cor1: rgb(255, 255, 255);
   --cor2: rgb(0, 0, 0);
   --cor3: rgb(0, 71, 171);
   --cor4: rgb(66, 66, 66);
   }

.menu-navBar{
   display: flex;
   width: 100vw;
   height: 100px;
   box-sizing: border-box;
   
}
.menu-mobile{
   display: flex;
   align-items: center;
   box-sizing: border-box;
   height: 100px;
}

.menu-navBar{
   display: flex;
   align-items: center;
   list-style: none;
   gap:20px;
   justify-content: flex-start;
   padding: 40px;
   margin-left: 100px;
}

.logo{
   height: 100px;
   display: flex;
   padding-right: 250px;
   padding-left: 50px;
   align-items: center;
   font-size: 20px;
   font-weight: normal;
   width: 300px;
  text-wrap: nowrap;
  background-color: var(--cor3);
  color: white;

}

.li-Menu{
color: white;
color: var(--cor2);
padding: 5px;
font-size: 16px;
text-wrap: nowrap;
}
#contact{
   background-color: var(--cor3);
   color: white;
}

.Link {
text-decoration: none;
}

